<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>BarkBuddy - Owner Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BarkBuddy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/barkbuddy">View Dogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breed-info">Breed Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/owner-management" sec:authorize="hasAuthority('ADMIN')">Owner Management</a>
                    </li>
                </ul>
                <form class="d-flex" th:action="@{/logout}" method="post" style="margin-left:auto;">
                    <input class="btn btn-outline-danger" type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 70px;">
        <div class="col-md-4 text-center">
    </div>
</div>
    <table CLASS="table table-hover">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th sec:authorize="hasAuthority('ADMIN')"></th>
        </tr>
        <tr th:each = "owner : ${owners}">
            <td th:text="${owner.username}"></td>
            <td th:text="${owner.firstName}"></td>
            <td th:text="${owner.lastName}"></td>
            <td th:text="${#temporals.format(owner.dateOfBirth, 'dd.MM.yyyy')}"></td>
            <td th:text="${owner.role}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/owner/edit/{id}(id=${owner.id})}" class="btn btn-info">Edit</a></td>
        </tr>
    </table> 	
</body>
</html>